$white: #fff;
$snow-white: #d3d5e3;
$black: #000;
$red: #f00;
$brown: #8a2a2d;
$white-transparent: rgba(255,255,255, .9);

$verdana: Verdana, sans-serif;

$background-image: url('http://localhost:3333/rowdy.jpg');
